In [1]:
import pandas as pd

In [2]:
month1_df = pd.read_csv("month_1_dataset.csv")

In [6]:
no_rows, no_cols = month1_df.shape

In [3]:
month1_df.describe()

,Age,SystolicBP,DiastolicBP,BS,BodyTemp,HeartRate
count,1014.000000,1014.000000,1014.000000,1014.000000,1014.000000,1014.000000
mean,29.871795,113.198225,76.460552,8.725986,98.665089,74.301775
std,13.474386,18.403913,13.885796,3.293532,1.371384,8.088702
min,10.000000,70.000000,49.000000,6.000000,98.000000,7.000000
25%,19.000000,100.000000,65.000000,6.900000,98.000000,70.000000
50%,26.000000,120.000000,80.000000,7.500000,98.000000,76.000000
75%,39.000000,120.000000,90.000000,8.000000,98.000000,80.000000
max,70.000000,160.000000,100.000000,19.000000,103.000000,90.000000

In [ ]:
# TODO: for datacleaning, remove duplicates
# TODO: remove outliers

In [7]:
# TODO: add a column as month_no
month1_df['month_no'] = [1]*no_rows

In [9]:
# TODO: add a column representing the record index 'index' - no need to do anything special
# TODO: save the first month csv as a new file 
month1_df.to_csv("month1_data.csv")

In [10]:
month2_df = month1_df.copy()

In [13]:
# TODO: add a column as month_no
month2_df["month_no"] = [2]*no_rows
month2_df

,Age,SystolicBP,DiastolicBP,BS,BodyTemp,HeartRate,RiskLevel,month_no
0,25,130,80,15.0,98.0,86,high risk,2
1,35,140,90,13.0,98.0,70,high risk,2
2,29,90,70,8.0,100.0,80,high risk,2
3,30,140,85,7.0,98.0,70,high risk,2
4,35,120,60,6.1,98.0,76,low risk,2
...,...,...,...,...,...,...,...,...
1009,22,120,60,15.0,98.0,80,high risk,2
1010,55,120,90,18.0,98.0,60,high risk,2
1011,35,85,60,19.0,98.0,86,high risk,2
1012,43,120,90,18.0,98.0,70,high risk,2
1013,32,120,65,6.0,101.0,76,mid risk,2

In [18]:
import random
random_number = random.randint(1, 20)

In [17]:
type(month2_df['SystolicBP'][1])

numpy.int64

In [ ]:
# TODO: function to generate random values for SystolicBP
def random_systolic_bp(value):
    random_number = random.randint(1, 20)

    if random_number > 

    # High blood pressure >= 90
    # Risky blood pressure 120 <= x <= 139
    # normal blood pressure < 120